html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: 300; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none ;
}

b {
    font-weight: 700;
}

hr {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* text muted before hover */
.link {
    color: #777;    
    transition: all 0.1s ease-in-out;
}

.link:hover {
    color: #777;
}

.link:active {
    /* Darker for mobile to make more noticeable */
    color: rgb(21, 21, 21);
    /* no transition time */
}

.card {
    border-radius: 10px;
    /* no transition time */
    box-shadow: 1px 1px 10px gray;
}

/* same as .card for mobile */
.card:hover {
    box-shadow: 1px 1px 10px gray;
}

/* Card's drop shadow reduced on mouse click */
.card:active {
    box-shadow: 1px 1px 0px gray;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.panoraven {
    display:block;
    border:0 none; 
    /* max-width:880px; */
    border-radius:8px; 
    /* box-shadow: 1px 1px 5px gray; */
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11); */
}

.bandcamp {
    border: 0; 
    border-radius: 10px;
    /* max-height: 340px; */
    /* width: 700px;
    height: 905px; */
}

/* If the device supports hovering (AKA we on a computer not a phone) */
@media (hover: hover) {
    /* text muted before hover */
    .link {
        color: #777;
        transition: all 0.1s ease-in-out;
    }

    /* darken text on hover */
    .link:hover {
        color: rgb(65, 65, 65);
    }

    /* darken nav-link text on hover */
    .nav-link:hover {
        color: rgb(65, 65, 65);
    }

    .navbar-brank:hover {
        text-shadow: 5px 5px gray;
    }

    .card {
        border-radius: 10px;
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 0px 0px gray;
    }
    
    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px gray;
    }

    /* Card has drop shadow on hover */
    .card:hover {
        box-shadow: 1px 1px 15px gray;
    }

    /* Card's drop shadow reduced on mouse click */
    .card:active {
        box-shadow: 1px 1px 0px gray;
    }
}

#about {
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    padding-top: 56px;
}

#about_text {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 1000px;
}

/* For very small screens, decrease h1 and h2 sizes */
@media (min-width: 0px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }
}

/* When window small */
@media (min-width: 576px) {
    h1 {
        font-size: 78px;
        text-align: center;
    }

    h2 {
        font-size: 50px;
        text-align: center;
    }
}

/* When window medium */
@media (min-width: 768px) {
    /* .bandcamp {
        width: 300px;
        height: 872px;
    } */
}



@media (min-width: 992px) {
    /* remove extra spacing above "Kiran Bhat" to fix centering */
    #about_text {
        padding-top: 20px;
    }
    h1 {
        text-align: left;
    }
    /* .bandcamp {
        width: 460px;
        height: 872px;
    } */
}


@media (min-width: 1480px) {
    #about_text {
        padding-top: 0px;
    }
    /* .bandcamp {
        width: 700px;
        height: 905px;
    } */
}

#about_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fluid {
    border-radius: 10px;
}