html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

a {
    /*color: #212529 !important;*/
    /*color: teal !important;*/
    color: #3d73c6;
    /*color: #307df6;*/
    text-decoration: none ;
}

/* a:not(.no-link-style) {
    border-bottom: 2px solid #add8e6;
}

a:hover:not(.no-link-style) {
    border-bottom: 2px solid #7c9ba3;
    text-decoration: lightblue !important;
} */

b {
    font-weight: 700;
}

hr {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 78px;
    font-weight: 300;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* text muted before hover */
.link {
    color: #777;    
    transition: all 0.1s ease-in-out;
}

/* darken text on hover */
.link:hover {
    color: rgb(65, 65, 65);
}

/* darken nav-link text on hover */
.nav-link:hover {
    color: rgb(65, 65, 65);
}

.navbar-brank:hover {
    text-shadow: 5px 5px gray;
}

.card {
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

/* Card has drop shadow on hover */
.card:hover {
    box-shadow: 1px 1px 15px gray;
}

/* Card's drop shadow reduced on mouse click */
.card:active {
    box-shadow: 1px 1px 0px gray;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

#about {
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    padding-top: 56px;
}

#about_text {
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 1000px;
    /* align-items: center; */
    /* vertical-align: center; */
    /* line-height: normal; */
}

#about_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.img-fluid {
    border-radius: 10px;
}