html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: 300; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none ;
}

b {
    font-weight: 700;
}

hr {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* text muted before hover */
.link {
    color: #777;    
    transition: all 0.1s ease-in-out;
}

.link:hover {
    color: #777;
}

.link:active {
    /* Darker for mobile to make more noticeable */
    color: rgb(21, 21, 21);
    /* no transition time */
}

.card {
    border-radius: 10px;
    /* no transition time */
    box-shadow: 1px 1px 10px gray;
}

/* same as .card for mobile */
.card:hover {
    box-shadow: 1px 1px 10px gray;
}

/* Card's drop shadow reduced on mouse click */
.card:active {
    box-shadow: 1px 1px 0px gray;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

/* If the device supports hovering (AKA we on a computer not a phone) */
@media (hover: hover) {
    /* text muted before hover */
    .link {
        color: #777;
        transition: all 0.1s ease-in-out;
    }

    /* darken text on hover */
    .link:hover {
        color: rgb(65, 65, 65);
    }

    /* darken nav-link text on hover */
    .nav-link:hover {
        color: rgb(65, 65, 65);
    }

    .navbar-brank:hover {
        text-shadow: 5px 5px gray;
    }

    .card {
        border-radius: 10px;
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 0px 0px gray;
    }
    
    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px gray;
    }

    /* Card has drop shadow on hover */
    .card:hover {
        box-shadow: 1px 1px 15px gray;
    }

    /* Card's drop shadow reduced on mouse click */
    .card:active {
        box-shadow: 1px 1px 0px gray;
    }
}

#about {
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    padding-top: 56px;
}

#about_text {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 1000px;
}

/* For very small screens, decrease h1 and h2 sizes */
@media (min-width: 0px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 78px;
        text-align: center;
    }

    h2 {
        font-size: 50px;
        text-align: center;
    }
}

/* When we go into large size window, remove extra spacing above "Kiran Bhat" to fix centering */
@media (min-width: 992px) {
    #about_text {
        padding-top: 20px;
    }
    h1 {
        text-align: left;
    }
}


@media (min-width: 1500px) {
    #about_text {
        padding-top: 0px;
    }
}

#about_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fluid {
    border-radius: 10px;
}